<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interns.verifly.buddy.app">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <meta-data
        android:name="CLOUDINARY_URL"
        android:value="mesh://541578479444757@1ITDPajCmIcYn2UBlE-kbwHkr5A" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MateralThemeNewNoActionBar">
        <activity
            android:name="com.interns.verifly.buddy.app.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.interns.verifly.buddy.app.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.interns.verifly.buddy.app.BorrowerDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.interns.verifly.buddy.app.HomeActivity" />
        </activity>
        <activity
            android:name="com.interns.verifly.buddy.app.ImageViewActivity"
            android:theme="@style/FullImageTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="com.interns.verifly.buddy.app.ChangePassword"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <!-- Include the host attribute if you want your app to respond
                 only to URLs with your app's domain. -->
            <data android:scheme="http" android:host="ninja.hellobuddy.in" />
            <category android:name="android.intent.category.DEFAULT" />
            <!-- The BROWSABLE category is required to get links from web pages. -->
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
        </activity>
    </application>

</manifest>